@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');
body
{
    font-family: 'Edu SA Beginner', cursive !important;
}
.Container
{
    background-color:rgb(73, 122, 134) ;
    border-color: white;
    border-width:0.2in;
    border-style: solid;
    margin: 5px;
}
.ProfileImage
{
    width:  50% !important;
}
hr
{
    color: white !important;
    border-top: 5px solid white !important;
}
h2
{
    color: white;
}
p
{
    font-size: 20px !important;
}
